---
layout: default
title: "JustDesign"
---

<div class="rounded header-image" style="background-image: url('/assets/images/background.jpg'); background-position: center;">
	<div class="jumbotron p-4 p-md-5 text-white " style="background-color: rgba(0, 0, 0, 0.2);">
		<div class="px-0" >
		  <h1 class="display-4 font-weight-bold">JustDesign is...</h1>
		  <p class="lead font-weight-bold">a member-owned, multi-disciplinary, public-interest cooperative practicing rights-based, anti-oppressive, open source design. </p>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-8 blog-main">
		<h4 class="pb-3 border-bottom">
			Latest posts
		</h4>
		{% for post in paginator.posts %}
			<div class="media">
				{% if post.header.teaser %}
				  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
				{% else %}
				  {% assign teaser = site.teaser %}
				{% endif %}

				{% if post.id %}
				  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
				{% else %}
				  {% assign title = post.title %}
				{% endif %}

				{% if teaser %}
				  <div class="mr-3 mb-3">
					<a class="pull-left" href="{{ post.url | absolute_url }}" rel="permalink"><img class="media-object" src=
					  {% if teaser contains "://" %}
						"{{ teaser }}"
					  {% else %}
						"{{ teaser | absolute_url }}"
					  {% endif %}
					  alt="" style="max-width:175px"></a>
				  </div>
				{% endif %}

				<div class="media-body">
					<h4 class="media-heading">
						{% if post.link %}
							<a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
						  {% else %}
							<a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
						{% endif %}
					</h4>

					<p class="">{{ post.date | date: "%B %d, %Y" }} by <a href="">{{ post.author }}</a></p>

					{% if post.excerpt %}
						<p class="" itemprop="description">
							{{ post.excerpt | markdownify | strip_html | truncate: 160 }}
						</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		<!-- Pagination links -->
		<nav class="blog-pagination mt-3">
		  {% if paginator.previous_page %}
			<a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}">Previous</a>
		  {% else %}
			<a class="btn btn-outline-primary disabled" href="#">Previous</a>
		  {% endif %}
		  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		  {% if paginator.next_page %}
			<a class="btn btn-outline-secondary" href="{{ paginator.next_page_path }}">Next</a>
		  {% else %}
			<a class="btn btn-outline-secondary disabled" href="#">Next</a>
		  {% endif %}
		</nav>
	</div>

	<aside class="col-md-4 blog-sidebar">
		<div>
			<a class="twitter-timeline" href="https://twitter.com/justdesigncoop?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by justdesigncoop</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</aside>

  </div>
</div>
