---
title: "JustDesign Co-op"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.33"
  overlay_image: /assets/images/IMG_3394.jpg
excerpt: "The Social Justice Design Co-operative"
intro: 
  - excerpt: "Lorem ipsum dolor sit amet, quem mutat pro ei. Ex ius omnes discere. Nam eu laoreet graecis corpora, in nam graecis feugait, et cum delicata tincidunt. Et scripta aliquando usu, alia signiferumque ut quo. Eos eu nominati scribentur. Mundi scripta honestatis ei usu."
feature_row:
  - image_path: /assets/images/logo.png
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "Lorem ipsum dolor sit amet, quem mutat pro ei. Ex ius omnes discere."
  - image_path: /assets/images/logo.png
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "Lorem ipsum dolor sit amet, quem mutat pro ei. Ex ius omnes discere."
    btn_class: "btn--inverse"
  - image_path: /assets/images/logo.png
    title: "Placeholder 3"
    excerpt: "Lorem ipsum dolor sit amet, quem mutat pro ei. Ex ius omnes discere."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
